// Reset the style 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: Helvetica, Arial, sans-serif;
}

// Variables

$darkColor: #000;
$lightDarkColor: #131313;
$whiteColor: #fff;
$gray: #898888;
$yellow: #fd3;
$red: #f42;
$lightRed: #ffebe7;
$lighterRed: #fffaf8;
$darkYellow: #f0c000;

// Global styling 

a {
  color: $gray;
  }

.flex {
  display: flex;
}

img {
  cursor: pointer;
}

#third-box,
#fourth-box,
.triangle {
  display: none;
}


//Header 

header{
  position: fixed;
  top: 0;
  background-color: $whiteColor;
  width: 100%;
  z-index: 10; 

  nav {
    flex-direction: column;   

    .dark-nav {
        display: none;
        li {
            margin-right: 10px;
        }
    }
    .white-nav {
      justify-content: space-between;
      li {
        margin-right: 20px;
      }
    }
    .logo-img {
      height: 50px;
      width: auto;
    }
    .yellow-nav {
        background-color: $yellow;
        padding: 10px;
        a {
          color: $darkColor;
          font-size: 0.6rem;
          margin: auto;
        }
      }
    }
    .fas {
        font-size: 0.9rem;
        border-left: lightgray solid 1px;
        padding: 15px;
        height: 100%;
        width: auto;
        
    }
}

.white-hover,
.black-hover{
    display: none;

    a:hover {
        color: $darkColor;
    }
}


.display-m {
    display: block;
}

.fa-bars {
    color: $red;
}
.white-hover {
    a:hover {
        color: $whiteColor;
    }
}

// Main section 

main {
    margin-top: 90px;
}

// Highlights 

.highlights {
    flex-direction: column;
    height: 1000px;
    margin: 0 10px;
    
    img,
    time {
        display: none;
    }

    .highlight,
    .sub-highlight {
        height: 300px;
        margin-bottom: 10px;
        flex-direction: column;
        justify-content: flex-end;
        color: $whiteColor;
        padding: 15px;
    }  
    h1,
    h2 {
        margin-bottom: 20px;
        color: $whiteColor;
    } 
    ul {
        li {
            margin-right: 10px;
        }
    }
    a:hover {
        color: $whiteColor;
    }
}

// Implement Mixins 
@mixin bg-img($img-url) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url($img-url);
    background-size: cover;
    background-position: center;
}
.opal {
    @include bg-img("images/phone.jpeg");
}
.google {
    @include bg-img("images/account.jpeg");
}
.mac {
    @include bg-img("images/duplicate.jpeg");
}

// Latest funding 

.latest-heading {
    li {
        padding-bottom: 10px;
    }
    a:hover {
        color: $darkColor;
    }
    
    h2 {
        color: $darkColor;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.latest {
    padding: 10px;
    flex-direction: column;

    .latest-heading {
        flex-direction: column;
        
        ul {
            flex-direction: column-reverse;
            margin-top: 10px;
        }
        a,
        h2 {
            color: $red;
        }
    }

    .box {
        margin-bottom: 20px;

        .top-box {
            position: relative;
            height: 100px;
            background-color: $lightRed;

            img {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 10px;
                left: 10px;
            }
            p {
                padding-left: 70px;
                color: $darkColor;
            }
            h4 {
                padding: 10px 10px 10px 70px;
                background-color: $red;
                color: $whiteColor;
            }
            .value {
                font-weight: bold;
                font-size: 1.2rem;
                margin-top: 10px;
                line-height: 1.4rem;
            }
            .series {
                font-size: 0.7rem;
                line-height: 1.2rem;
                color: $gray;
            }
        }

        .top-box:hover {
            cursor: pointer;
        }

        .center-box {
            padding: 10px;
            flex-direction: column;
            background-color: $lighterRed;

            a {
                font-size: 0.8rem;
                padding: 7px 0;
                color: $darkColor;
            }
        }

        .bottom-box {
            border-top: 1px solid rgba(255, 68, 34, 0.25);
            background-color: $lighterRed;
            padding: 10px;

            a {
                font-size: 0.8rem;
            }
            p {
                color: $darkColor;
            }
            span {
                color: $gray;
            }
        }
    }
}

// Categories

.categories {
    margin: 10px;

    img {
        width: 96px;
        height: 96px;
        float: right;
    }

    .category {
        flex-direction: column;
        width: 100%;
        color: $red;
    }
    h2 {
        margin-bottom: 10px;
        color: $red;
    }
    h2:hover {
        color: $darkColor;
    }
    .top-category {
        height: 400px;
        width: 100%;
        padding: 10px;
        color: $whiteColor;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2px;
        background-size: cover;
        background-position: center;

        p {
            font-size: 0.8rem;
        }
        li {
            font-size: 0.7rem;
            color: $gray;
        }

    }
    .bg-1 {
        @include bg-img("images/categories-1.jpg");
    }
    .bg-2 {
        @include bg-img("images/categories-2.jpg");
    }
    .bg-3 {
        @include bg-img("images/categories-3.jpg");
    }
    .center-category {
        background-color: $lighterRed;
        padding-left: 10px;

        p {
            margin-top: 10px;
            font-size: 0.7rem;
            margin-bottom: 3px;
        }
        a {
            color: $red;
        }
    }
    .bottom-category {
        margin-left: 20px;
        margin-top: 10px;

        li {
            list-style: disc outside;
            padding: 10px 0;
            border-bottom: lightgray 1px solid;
        }
    }
    #second-category,
    #third-category {
        display: none;
    }
    .hover-underline {
        color: $whiteColor;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hover-underline:hover {
        text-decoration: underline;
        text-decoration-color: $gray;
    }

}


// Latest news

.news {
    flex-direction: column;
    padding: 10px;

    .latest-heading {
        flex-direction: row;
        justify-content: space-between;
    }
    h2,
    .latest-heading {
        color: $red;
        margin: 20px 0;
    }
    img {
        height: 60px;
        width: 90px;
    }
    .sub-news {
        flex-direction: row;
        margin-bottom: 10px;

        h4 {
            margin-top: 2px;
            margin-bottom: 5px;
            font-size: 0.8rem;
            color: $darkColor;
        }
        .wrapper {
            flex-direction: column;
            margin-left: 10px;
        }
        ul {
            font-size: 0.6rem;
            color: $gray;
        }
    }
    h2:hover {
        color: $darkColor;
    }

}

// Latest deals

.deals {
    ul {
        color: $darkColor;
        font-size: 0.8rem;

        .strike-through {
            text-decoration: line-through;
            color: $gray;
            font-size: 0.7rem;
        }
    }
}


// Footer  

footer {
    background-color: $darkColor;
    .bg-lighter {
        background-color: $lightDarkColor;
        flex-direction: column;
        align-items: center;
        padding: 25px;

        li {
            font-size: 0.7rem;
            margin: 25px 8px 8px 10px; 
        }
    }
    .fab,
    .fas {
        width: 35px;
        height: 35px;
        padding: 10px;
        font-size: 0.9rem;
        color: $whiteColor;
        background-color: #343434;
        border: 2px solid #343434;
        border-radius: 50%;
        margin-right: 15px; 
    }
    .fab:hover,
    .fas:hover {
        background-color: (--darkColor);
    }

    .footer-logo {
        justify-content: center;
        padding: 30px;

        a,
        img {
            height: 0.6rem;
            font-size: 0.6rem;

            .stackpath {
                color: $whiteColor;
            }
        }

        p {
            color: $gray;
            font-size: 0.6rem;
            margin: 0 5px;
        }
    }
    .footer-links {
        a:hover {
            color: $whiteColor;
        }
    }
}


// Media query tablet size 

@media screen and (min-width: 600px) {
    // Navbar 
    nav {
        a {
            font-size: 0.6rem;
        }
        .dark-nav {
            display: flex;
            background-color: $darkColor;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 5px;
            padding-left: 10px;

            .white-hover {
                display: flex;
            }
        }
        .white-nav {
            padding-left: 10px;

            .black-hover {
                display: flex;
                align-items: center;
            }
        }
        .yellow-nav {
            padding-left: 10px;
            
            a {
                margin: 0;
            }
        }
        .fa-bars,
        .logo-img {
            display: none;
        }
        .fa-search {
            font-size: 0.6rem;
            padding: 10px;
        }
        
    }
    

    // Highlights

    .highlights {
        flex-direction: row;
        height: 300px;
        margin-top: 3px;

        .sub-container {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .sub-highlight {
                font-size: 0.5rem;
                height: 120px;
                margin-bottom: 0;
            }
        }
        .highlight {
            margin-right: 10px;
            font-size: 1rem;
            height: 250px;
            margin-bottom: 0;
        }

        h1,
        h2 {
            margin-bottom: 5px;
        }

    }
    
    // Latest funding

    .latest-heading {
        align-items: flex-start;

        ul {
            flex-direction: row-reverse;
            margin-top: 10px;
        }
        li {
            padding-left: 20px;
            padding-right: 20px;
            height: 1rem;
            margin-bottom: 15px;
        }
        #updates {
            border-left: 1px $red solid;
            border-right: 1px $red solid;
        }

    }
    .boxes {
        display: flex;
        justify-content: space-between;

        .box {
            width: 32%;

            .center-box,
            .bottom-box {
                a {
                    font-size: 0.7rem;
                }
            }
        }
        #third-box {
            display: block;
        }
    }

    // Categories 

    .categories {
        flex-direction: row;
        justify-content: space-between;

        .category {
            width: 49%;

            .top-category {
                height: 240px;
            }
            .bottom-category {
                li {
                    font-size: 0.7rem;
                }
            }
        }
        #second-category {
            display: flex;
        }
    }
    
    // Latest News 

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .sub-news {
            flex-direction: column;

            h4 {
                font-size: 0.6em;
            }
            img {
                height: 110px;
                width: 100%;
            }
            .wrapper {
                flex-direction: column;
                margin-left: 0;
                margin-top: 5px;
            }
            ul {
                font-size: 0.6rem;
                color: $gray;
            }
            .img-wrapper {
                position: relative;
            }
        }
    }

    // Latest deals 

    .triangle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $darkYellow;
        z-index: 1;
        width: 80px;
        height: 80px;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }

    .discount {
        display: block;
        color: $darkColor;
        transform: rotate(45deg);
        position: absolute;
        top: 25px;
        right: 5px;
        z-index: 2;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .deals {
        ul {
            color: $darkColor;
            font-size: 0.8rem;
        }
    }

}

// Media query desktop size 

@media screen and (min-width: 768px) {
    // Highlights 

    .highlights {
        height: 550px;

        .highlight {
            width: 70%;
            height: 500px;
            position: relative;

            img {
                display: block;
                width: 40%;
                height: auto;
                position: absolute;
                top: 10px;
                left: 10px;
            }
            h1 {
                font-size: 3.1rem;
                line-height: 3rem;
            }
            time {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .sub-container {
            width: 30%;
            height: 500px;

            .sub-highlight {
                height: 245px;

                h2 {
                    font-size: 1.3rem;
                    line-height: 1.3rem;
                }
            }
        }
    }

    // Latest funding

    .latest-heading {
        flex-direction: row;
        justify-content: space-between;

        ul {
            flex-direction: row;
        }
    }
    .box {
        width: 24%;
    }
    #fourth-box {
        display: block;
    }

    // Categories 

    .categories {
        justify-content: space-between;

        .category {
            width: 32%;

            .top-category {
                height: 240px;

                h3 {
                    font-size: 1.1rem;
                }
            }
            .center-category {
                h5 {
                    font-size: 0.75rem;
                }
            }
            .bottom-category {
                li {
                    font-size: 0.7rem;
                }
            }
        }
        #third-category {
            display: flex;
        }
    }

    // Latest News 

    .news {
        img {
            height: 130px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .sub-news {
            h4 {
                font-size: 0.7em;
            }
        }
    }

    .deals {
        h4 {
            margin-top: 20px;
        }
    }

}