// Reset the style 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: Helvetica, Arial, sans-serif;
}

// Variables

$darkColor: #000;
$lightDarkColor: #131313;
$whiteColor: #fff;
$gray: #898888;
$yellow: #fd3;
$red: #f42;
$lightRed: #ffebe7;
$lighterRed: #fffaf8;
$darkYellow: #f0c000;

// Global styling 

a {
  color: var(--gray);
  }

.flex {
  display: flex;
}

img {
  cursor: pointer;
}

.display-m {
    display: block;
  }

//Header 

header{
  position: fixed;
  top: 0;
  background-color: $whiteColor;
  width: 100%;
  z-index: 10; 

  nav {
    flex-direction: column;   

    .dark-nav {
        display: none;
        li {
            margin-right: 10px;
        }
    }
    .white-nav {
      justify-content: space-between;
      li {
        margin-right: 20px;
      }
    }
    .logo-img {
      height: 50px;
      width: auto;
    }
    .yellow-nav {
        background-color: var(--yellow);
        padding: 10px;
        a {
          color: var(--darkColor);
          font-size: 0.6rem;
          margin: auto;
        }
      }
    }
    .fas {
        font-size: 0.9rem;
        border-left: lightgray solid 1px;
        padding: 15px;
        height: 100%;
        width: auto;
        .fa-bars {
            color: var(--red);
        }
    }
}

.white-hover,
.black-hover{
    display: none;
}

// Main section 

main {
    margin-top: 90px;
}

// Highlights 

.higlights {
    flex-direction: column;
    height: 1000px;
    margin: 0 10px;
}

// Footer  

footer {
    background-color: var(--darkColor);
    .bg-lighter {
        background-color: var(--lightDarkColor);
        flex-direction: column;
        align-items: center;
        padding: 25px;

        li {
            font-size: 0.7rem;
            margin: 25px 8px 8px 10px; 
        }
    }
    .fab,
    .fas {
        width: 35px;
        height: 35px;
        padding: 10px;
        font-size: 0.9rem;
        color: var(--whiteColor);
        background-color: #343434;
        border: 2px solid #343434;
        border-radius: 50%;
        margin-right: 15px; 
    }
    .footer-logo {
        justify-content: center;
        padding: 30px;

        a,
        img {
            height: 0.6rem;
            font-size: 0.6rem;

            .stackpath {
                color: var(--whiteColor);
            }
        }

        p {
            color: var(--gray);
            font-size: 0.6rem;
            margin: 0 5px;
        }
    }

}
