// Reset the style 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: Helvetica, Arial, sans-serif;
}

// Variables

$darkColor: #000;
$lightDarkColor: #131313;
$whiteColor: #fff;
$gray: #898888;
$yellow: #fd3;
$red: #f42;
$lightRed: #ffebe7;
$lighterRed: #fffaf8;
$darkYellow: #f0c000;

// Global styling 

a {
  color: var(--gray);
  }

.flex {
  display: flex;
}

img {
  cursor: pointer;
}