* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --darkColor: #000;
  --lightDarkColor: #131313;
  --whiteColor: #fff;
  --gray: #898888;
  --yellow: #ffdd33;
  --red: #ff4422;

}

a {
  color: var(--gray);
}

.flex {
  display: flex;
}

nav {
  flex-direction: column;
}

.dark-nav {
  display: none;
}

.dark-nav li {
  margin-right: 10px;
}

.white-nav li {
  margin-right: 20px;
}

.white-nav {
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: auto;
}

.yellow-nav {
  background-color: var(--yellow);
  padding: 10px;
}

.yellow-nav a {
  color: var(--darkColor);
  font-size: 0.6rem;
  margin: auto;
}

.white-hover,
.black-hover {
  display: none;
}

.white-hover a:hover {
  color: var(--whiteColor);
}

.black-hover a:hover {
  color: var(--darkColor);
}

.display-m {
  display: block;
}

.fa-bars {
  color: var(--red);
}

nav .fas {
  font-size: 0.9rem;
  border-left: lightgray solid 1px;
  padding: 15px;
  height: 100%;
  width: auto;

}

/* FOOTER STYLING */

footer {
  background-color: var(--darkColor);
}

.bg-lighter {
  background-color: var(--lightDarkColor);
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.bg-lighter li {
  font-size: 0.7rem;
  margin: 25px 8px 8px 10px;
}

footer .fab,
footer .fas {
  width: 35px;
  height: 35px;
  padding: 10px;
  font-size: 0.9rem;
  color: var(--whiteColor);
  background-color: #343434;
  border-radius: 50%;
  margin-right: 15px;
}

.footer-logo {
  justify-content: center;
  padding: 30px;
}

.footer-logo a,
.footer-logo img {
  height: 0.6rem;
  font-size: 0.6rem;
}

.stackpath {
  color: var(--whiteColor);
}

@media screen and (min-width:600px) {
  .flex {
    display: flex;
  }

  nav a {
    font-size: 0.6rem;
  }

  .dark-nav {
    background-color: var(--darkColor);
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  nav .fa-bars {
    display: none;
  }
  
  nav .fa-search {
    font-size: 0.6rem;
    padding: 10px;
  }

  .black-hover {
    align-items: center;
  }

  .logo-img {
    display: none;
  }

  .yellow-nav a {
    margin: 0;
  }
  
  .dark-nav,
  .white-nav,
  .yellow-nav {
   padding-left: 10px;
  }
}

@media screen and (min-width:768px) {
  
}
