* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --darkColor: #000;
  --whiteColor: #fff;
  --gray: #898888;
  --yellow: #ffdd33;
}

a {
  color: var(--gray);
}

.flex {
  display: flex;
}

nav {
  flex-direction: column;
}

.dark-nav {
  display: none;
}

.dark-nav li {
  margin-right: 10px;
}

.white-nav li {
  margin-right: 20px;
}

.white-nav {
  justify-content: space-between;
}

.logo-img {
  width: 20%;
}

.yellow-nav {
  background-color: var(--yellow);
  padding: 10px;
}

.yellow-nav p {
  color: var(--darkColor);
  font-size: 0.6rem;
  margin: auto;
}

.white-hover,
.black-hover {
  display: none;
}

.white-hover a:hover {
  color: var(--whiteColor);
}

.black-hover a:hover {
  color: var(--darkColor);
}



@media screen and (min-width:600px) {

}

@media screen and (min-width:768px) {
  .dark-nav {
    background-color: var(--darkColor);
    flex-direction: row;
    justify-content: space-between;
  }
  
.dark-nav,
.white-nav,
.yellow-nav {
  padding: 20px;
}
}
